body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: "Courier New", Courier, monospace;
  background: linear-gradient(89deg, rgb(185, 77, 218), rgb(66, 219, 186))
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

button {
  cursor: pointer;
}
